.bio {
  margin-top: 20px;
}

.othersImg {
  margin-top: 100px;
  width: 200px;
  border-radius: 25%;
}
.contenerImg {
  text-align: center;
}

.name {
  margin-top: 6px;
  color: rgb(46, 46, 46);
}

.imgesC {
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
}
.imggg {
  width: 250px;
  margin: 6px;
  border-radius: 6px;
}

.newPostBtn {
  text-align: center;
  margin-bottom: 10px;
}

.NewPostModel {
  align-items: center;
  text-align: center;
}


.toggleBtn{
  text-align: center;
  margin-bottom: 10px;
}
.noPosted{
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-family: "Dosis", sans-serif;
}
/* .modal{
  font-family: "Dosis", sans-serif;

} */
.box{
  border-radius: 10px;
}
.fkoe{
  color: black;
  margin-left: 175px;
  margin-bottom: 20px;
}

.newPostText{
  font-family: "Dosis", sans-serif; 
  font-size: 35px;
}
.newPostInput{
  display: block;
  margin: 0px 0px 0px 90px;
  border-style: none;
  padding: 5px;
  font-size: 25px;
  border-radius: 3px;
  font-family: "Dosis", sans-serif;
  border-bottom: 0.5px solid rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}